
extends ./layout.jade

block contenido

	div(class="row justify-content-md-center")
		div(class="col-md-8 big-top-space text-center center-block")
			h1 Página Principal
			a(href="/login" class="right-space") Iniciar Sesión
			a(href="/signup") Registro
			