

doctype html 

html(lang="es")
	head
		title FotoTutorial
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css",rel="stylesheet")
		link(href="/public/css/app.css", rel="stylesheet")
	body
		block contenido